.spinner-block{
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

/* YOU NEED THESE STYLES */
/* spinner style */
.spinner {
  position: relative;
  width: 125px;
  height: 125px;
}
.spinner:before, .spinner:after {
  content: "";
  display: block;
  position: absolute;
  border-width: 4px;
  border-style: solid;
  border-radius: 50%;
}

/* spinner-1 styles */
@-webkit-keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes anti-rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes anti-rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.spinner.spinner-1:before {
  width: 117px;
  height: 117px;
  border-bottom-color: #1976d2;
  border-right-color: #1976d2;
  border-top-color: rgba(33, 33, 33, 0);
  border-left-color: rgba(33, 33, 33, 0);
  top: 0px;
  left: 0px;
  -webkit-animation: rotate-animation 1s linear 0s infinite;
          animation: rotate-animation 1s linear 0s infinite;
}
.spinner.spinner-1:after {
  width: 81.9px;
  height: 81.9px;
  border-bottom-color: #1976d2;
  border-right-color: #1976d2;
  border-top-color: rgba(33, 33, 33, 0);
  border-left-color: rgba(33, 33, 33, 0);
  top: 17.55px;
  left: 17.55px;
  -webkit-animation: anti-rotate-animation 0.55s linear 0s infinite;
          animation: anti-rotate-animation 0.55s linear 0s infinite;
}
